title {
  background-color: aquamarine;
}

@font-face {
  font-family: "Ubuntu";
  src: url("Ubuntu-Regular.ttf");
}

h1,
p,
h2 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

body {
  font-family: "Ubuntu";
  background-image: URL(images/bg.jpg);
  background-attachment: scroll;
  background-position-x: center;
  background-size: cover;
  background-color: rgb(227, 255, 166);
}
main {
  background-color: rgb(255, 255, 255);

  background-position-x: center;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  color: rgba(196, 116, 93, 255);
}

section {
  text-align: center;
}

.cardapio img {
  max-width: 230px;
  max-height: 230px;
  width: auto;
  height: auto;
  margin-top: 1px;
  margin-bottom: 1px;
}

.cardapio {
  text-align: center;

  width: 60%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 20px;
}

img {
  vertical-align: top;
  size: auto;
  height: auto;
  max-width: 100%;
  border-width: auto;
}

.menu {
  width: 60%;
  background-color: rgba(196, 116, 93, 255);
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  margin-bottom: 1px;
  border-radius: 20px;
}

.type {
  text-align: center;
}

.price {
  text-align: center;
}

.sorvetes {
  table-layout: fixed;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-bottom: 15px;
}

.insta {
  text-align: center;
  width: 6%;
  height: auto;
}
